body {
    background-color: #232533;
    /* width: 100vw; */
}

.description-card-img {
    background-image: url(../../../images/rick.jpg);
    background-size: cover;
    background-position: 20% 10%;
    border-radius: 5px;
      box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
      margin-top: 25px;
      margin-bottom: 20px;
      width: 86%;
      height: 220px;
      object-fit: cover;
      transition: all .7s;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .container img {
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 25px;
    margin-bottom: 20px;
    width: 86%;
    height: 220px;
    object-fit: cover;
    transition: all .7s;
} */

.container p {
    margin-top: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
}

.container button {
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 700;
    transition: all .7s ease;
}

.container button:hover {
    transform: scale(1.09);
    color: #ee665c;
}