body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 15px 15px 10px 15px;
}

.logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 70px;
}

h1 {
  margin: 10px 15px 5px 10px;
  color: #1a1a1a;
}

.sign-in-button {
  color: #fff;
  background-color: #ee665c;
  
  transform: translateY(-2px);
}

.sign-in-button:hover,
.sign-up-button:hover {
  background-color: #ff8279;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.sign-up-button {
  color: #1a1a1a;
  background-color: #ccc;
  transform: translateY(-2px);
  margin-left: -15px;
}

.sign-in-button,
.sign-up-button {
  appearance: none;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  width: 150px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.sign-in-button:disabled,
.sign-up-button:disabled {
  pointer-events: none;
}

.sign-in-button:active,
.sign-up-button:active {
  box-shadow: none;
  transform: translateY(0);
}

dialog {
  margin: 0;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.3);

  width: 320px;
  height: 600px;
  padding-top: 50px;

  position: relative;
  top: 18%;
  left: 41%;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

dialog form {
  width: 300px;
  margin: 0;
  padding: 0;
}

dialog input {
  border: none;
}

.form-field label {
  padding: 10px;
}

 
dialog input, dialog button {
  padding: 10px;
  width: -webkit-fill-available;
}

dialog button {
  cursor: pointer;
  margin-bottom: 10px;

  padding: 15px;
  border-radius: 8px;
  /* font-size: 1em;  */
  max-width: 300px;
  width: 100%;
}

dialog button:active {
  opacity: 0.8;
}

.see-password-img {
  cursor: pointer;
  margin-top: 24px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.form-field {
  margin-bottom: 10px;
  position: relative;
}

.form-field label {
  padding: 5px;
}

.form-buttons {
  margin: 25px 0 0 15px;
}

.loading {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.loading label {
  font-size: 24px;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input {
  margin-top: 5px;
  border: 1px solid #333;
  border-radius: 8px;
  color: #333;
  /* font-size: 1em; */
  width: 100%;
  outline: none;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 50px; */
}

  .login-header img {
    width: 70px;
} 

 .login-header h1 {
  /* color: #333; */
  font-size: 1.5rem;
} 

.clear {
  background-color: #ee665c;
  border: none;
  color: white;
}
.clear:disabled {
  border: none;
  color: #FFF;
  cursor: not-allowed;
  opacity: 0.5;
}

.solid {
  background-color: #ee665c;
  border: none;
  color: white;
}

.solid:disabled {
  border: none;
  color: #FFF;
  cursor: not-allowed;
  opacity: 0.5;
}

.outline {
  background: #ee665c;
  color: white;
  border: 1px solid white;
}

.error {
  padding-top: 10px;
  padding-left: 12px;
  color: #ee665c;
  display: none;
}