main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 300px; */
  height: 85vh;
  margin: auto;
  /* padding: 20px 20px 50px; */
  background-image: url("../../../images/csgo-background.png");
  background-size: cover;
}

#start {
  background: #4cb050;
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #1d5c12;
  font-weight: bold;
  font-size: 24px;
  /* letter-spacing: 2.5px; */
  transition: 0.4s;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

#start::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #59cb60;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

#start:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border: none;
}

/* .disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
  border: none;
} */

#start:hover:enabled {
  background-color: #59cb60;
  color: #FFF;
  opacity: 1;
}

#start span {
  position: absolute;
}

#start span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#0b3d0d));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #0b3d0d);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#start span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#0b3d0d));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #0b3d0d);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

#start span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#0b3d0d));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #0b3d0d);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

#start span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#0b3d0d));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #0b3d0d);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.game-header {
  margin: 32px;
  text-align: center;
}
.game-header h1 {
  font-weight: 700;
  font-size: 36px;
}

#playerBoard {
  text-align: center;
  width: 250px;
}

/* #start {
  background-color: #00ff37;
  color: #25a340;
  border-radius: 4px;
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
  width: 200px;
  opacity: 0.8;
  
  cursor: pointer;
} */
/*   */

.label-ct {
  color: #1e2b33;
  
}

.label-tr {
  color: #87614b;
}

label {
  font-size: 20px;
  padding: 8px;
  font-weight: 700;
}

input {
  margin: 5px 0px 5px 0px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  color: #333;
  /* font-size: 1em; */
  width: 100%;
  outline: none;
}

button {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 600;
}

h2 {
  margin-top: 10px;
  text-align: center;
  color: #222; 
}

#turnPlayer {
  display: block;
  margin: 10px 0px;
}

#gameBoard {
  background: transparent;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: 19rem;
  margin-top: 20px;
}

#gameBoard span {
  background-color: #ddd;
  /* opacity: 0; */
  display: grid;
  place-content: center;
  font-size: 5rem;
}

#gameBoard span.win {
  border: 3px solid #25a340;
}

.cursor-pointer {
  cursor: pointer;
}

.span-image {
  width: 100%;
  height: 100%;
}
